<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head"); %>
<body>
    <%- include("../partials/nav")%>

<h1><%= product.title %></h1>
<div class="image">
    <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
</div>
<h2><%= product.price %></h2>
<p><%= product.description %></p>

    <%- include("../partials/footer")%>

    <!-- <script src="assets/main/script.js"></script> -->
</body>
</html>